.title{
    margin: auto;
    width: 50%;
    padding-bottom: 30px;
    text-align: center;
}
.splitElements{
    padding-top: 30px;
    border-color: beige;
}

.splitSearch{
    padding-bottom: 30px;
    

}
